<h1>Welcome to my blog!</h1>

<p>
  <%= link_to "New Post", new_post_path %>
</p>

<% @posts.each do |post| %>
  <article class="post">
    <h2><%= link_to post.title, post %></h2>
    <p><%= post.body %></p>
  </article>
<% end %>
